.wrapper {
    display:block;
    background-color:#F2F2F2;
    width: 480px;
    /*height: 800px;*/
}

.banner
{
    display:block;
    background-color:#F424F4;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:2px;
    height: 50px;
    width: 480px;
    text-align:center;
    vertical-align:middle;
    background: url("banner.gif");
}

.function1
{
    display:block;
    background-color:#8181F7;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:2px;
    height: 24px;
    width: 480px;
    text-align:center;
}
.func1button
{
    display:inline-block;
    background-color:#8181F7;
    height: 20px;
    padding:2px;
    width: 110px;
    text-align:center;
}
.function2
{
    display:block;
    background-color:#8181F7;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:2px;
    height: 24px;
    width: 480px;
    text-align:center;
}
.func2button
{
    display:inline-block;
    background-color:#A9A9F5;
    padding:2px;
    width: 110px;
    text-align:center;
}
.func2button2
{
    display:inline-block;
    background-color:#F4FF24;
    padding:2px;
    width: 230px;
    text-align:center;
}
.newsArticle
{
    display:inline-block;
    width: 480px;
}
a {text-decoration:none;}